$button-primary: hsl(140, 59%, 45%);

.btn.btn-primary {
  outline: none;
  background-color: $button-primary;
  border-color: darken($button-primary, 10%);

  &:hover {
    background-color: darken($button-primary, 10%);
    border-color: darken($button-primary, 20%);
  }
}

html body {
  .btn:active,
  .btn:focus,
  .btn.active,
  .btn.focus,
  .btn:active:focus,
  .btn.active.focus {
    outline: none;
  }
}
