<script src='//static.opentok.com/v2/js/opentok.min.js'></script>


<div id="video_menu" class="row">
    <div class="col-xs-4 col-xs-offset-4">
        <button class="btn btn-primary btn-off-air"
                ng-if="!onAir"
                ng-click="startCall()">
            Call
        </button>
        <button class="btn btn-default btn-off-air"
                ng-if="!onAir"
                ng-click="joinCall()">
            Answer
        </button>

        <button class="btn btn-default btn-on-air"
                ng-if="onAir"
                ng-click="stopCall()">
            Hang-up
        </button>
    </div>
</div>

<div class="row">
    <div id="video"
         class="col-xs-12">
    </div>
</div>

<div id="audio">
</div>
